@import "features/variables";

.profileDropWrapper{
  width: 10%;
}

.profileDropImgWrapper{
  height: 50px;
  width: 50px;
  margin-right: 10px;
  img{
    border-radius: 500px;
    width: 100%;
  }
  .profileStatus{
    border: 2px solid white;
    background-color: red;
    border-radius: 500px;
    height: 13px;
    width: 13px;
    display: inline-block;
    z-index: 1;
    position: absolute;
    margin-left: 40px;
  }
}

@media only screen and (max-width: $screen-md) {
  .profileDropWrapper{
    display: none;
  }
}
