@import "features/variables";

$themes: (
        "light": (
                "colors": (
                        "primary": #662e9b,
                        "secondary": #43bccd
                ),
                "shades": (
                        "shade-1": #f5f5f5,
                        "shade-2": #020F3D,
                )
        ),
        "dark": (
                "colors": (
                        "primary": #020F3D,
                        "secondary": #db5375
                ),
                "shades": (
                        "shade-1": #020F3D,
                        "shade-2": #f5f5f5,
                )
        )
);

@each $theme-name, $theme-vars in $themes {
  $shades: map-get($theme-vars, "shades");
  $colors: map-get($theme-vars, "colors");

  $theme: (
          "bg-color": map-get($shades, "shade-1"),
          "text-color": map-get($shades, "shade-2")
  );

  .homeContainer.#{$theme-name} {
    // define a css variable for each shade
    @each $name, $color in $shades {
      --#{$name}: #{$color};
    }

    // define a css variable for each color
    @each $name, $color in $colors {
      --#{$name}: #{$color};
    }

    // define a css variable for each theme color
    @each $name, $color in $theme {
      --#{$name}: #{$color};
    }
  }
}

.homeRightWrapper{
  width: 40%;
  background-color: transparent;
  text-align: center;
  h1{
    margin: 25px 0;
    font-size: 4rem;
    font-family: sans-serif;
  }

  h5{
    font-size: 2rem;
    font-weight: 400;
    color: darkgrey;
  }
  p{
    width: 75%;
    line-height: 30px;
    margin: auto auto 25px;
    letter-spacing: 0.5px;
  }
  button{
    margin: 10px;
    width: 180px;
  }
}

.homeShareButton{
  color: var(--text-color) !important;
  border: 1px solid var(--text-color) !important;
  img{
    margin-right: 7px;
    color: #1ab7ea;
  }
}

@media only screen and (max-width: $screen-md) {
  .homeRightWrapper{
    padding: 0 5%;
    width: 100%;
    h1{
      font-size: 3rem;
    }
    h5{
      font-size: 1.5rem;
    }
    p{
      width: 80%;
    }
  }
}
