@import "features/variables";

.homeHeader{
  height: 95px;
  width: 95%;
  margin: auto;
  border-bottom: 1px solid grey;
}
.tempTaskLogos {
  width: 10%;
  text-align: center;
  img, span {
    display: inline-block;
    margin: 0 10px;
  }
}

.navHamButton{
  display: none;
}

@media only screen and (max-width: $screen-md) {
  .tempTaskLogos {
    display: none;
  }
  .homeHeader{
    height: 60px;
  }
}

