@import "../../features/variables";

.profile {
  width: 50%;
  padding: 0 100px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid $gray-400;
  border-radius: 5px;
  flex-direction: column;
  height: 250px;
  .block {
    margin-top: 20px;
  }
  .password-input {
    min-width: 200px;
  }
}