@import '../../../variables.scss';

$themes: (
        "light": (
                "colors": (
                        "primary": #662e9b,
                        "secondary": #43bccd
                ),
                "shades": (
                        "shade-1": #f5f5f5,
                        "shade-2": #020F3D,
                        "shade-3": #9812F5,
                )
        ),
        "dark": (
                "colors": (
                        "primary": #020F3D,
                        "secondary": #db5375
                ),
                "shades": (
                        "shade-1": #020F3D,
                        "shade-2": #f5f5f5,
                        "shade-3": #FCCB1A,
                )
        )
);

@each $theme-name, $theme-vars in $themes {
  $shades: map-get($theme-vars, "shades");
  $colors: map-get($theme-vars, "colors");

  $theme: (
          "bg-color": map-get($shades, "shade-1"),
          "text-color": map-get($shades, "shade-2"),
          "onFocus-color": map-get($shades, "shade-3"),
  );

  .navLinks.#{$theme-name} {
    // define a css variable for each shade
    @each $name, $color in $shades {
      --#{$name}: #{$color};
    }

    // define a css variable for each color
    @each $name, $color in $colors {
      --#{$name}: #{$color};
    }

    // define a css variable for each theme color
    @each $name, $color in $theme {
      --#{$name}: #{$color};
    }
  }
}


.navLinks{
  width: 85%;
  a{
    text-decoration: none;
    color: var(--text-color);
    margin: 0 20px;
    font-weight: 550;
  }
  a:hover,
  a:focus{
    color: var(--onFocus-color);
    text-decoration: underline;
    text-underline: var(--onFocus-color);
  }
}

.navButton{
  button{
    border: none;
  }
  button:hover{
    opacity: 0.9;
  }
}

.hamBurgerButton{
  display: none;
}

@media only screen and (min-width: $screen-md) {
  .navSectionWrapper{
    width: 90%;
    margin-left: 10%;
  }
}

@media only screen and (max-width: $screen-md) {
  .hamBurgerButton{
    display: block;
    position: absolute;
    right: 5%;
    top: 15px;
  }
  .navElementsWrapper{
    width: 100%;
  }
  .navSectionWrapper:hover{
    .navElementsWrapper{
      height: 150px;
    }
  }
  .navElementsWrapper{
    position: absolute;
    left: 0;
    top: 60px;
    height: 0px;
    overflow: hidden;
    margin: 0;
    background-color: whitesmoke;
    transition: 0.5s;
    .navLinks{
      width: 100%;
      a{
        width: 100%;
        display: inline-block;
        background-color: transparent;
        color: #0f1642;
        text-align: right;
        padding: 16px;
        border: 1px dashed lightgray;
        margin: 0;
      }
      a:hover{
        background-color: #0f1642;
        color: whitesmoke;
      }
    }
    .navButton{
      display: none;
    }
  }

}
