@import '../../../features/variables';

$themes: (
        "light": (
                "colors": (
                        "primary": #662e9b,
                        "secondary": #43bccd
                ),
                "shades": (
                        "shade-1": #f5f5f5,
                        "shade-2": #020F3D,
                )
        ),
        "dark": (
                "colors": (
                        "primary": #020F3D,
                        "secondary": #db5375
                ),
                "shades": (
                        "shade-1": #020F3D,
                        "shade-2": #f5f5f5,
                )
        )
);

@each $theme-name, $theme-vars in $themes {
  $shades: map-get($theme-vars, "shades");
  $colors: map-get($theme-vars, "colors");

  $theme: (
          "bg-color": map-get($shades, "shade-1"),
          "text-color": map-get($shades, "shade-2")
  );

  .profileContainer.#{$theme-name} {
    // define a css variable for each shade
    @each $name, $color in $shades {
      --#{$name}: #{$color};
    }

    // define a css variable for each color
    @each $name, $color in $colors {
      --#{$name}: #{$color};
    }

    // define a css variable for each theme color
    @each $name, $color in $theme {
      --#{$name}: #{$color};
    }
  }
}

.profileContainer{
  background: var(--bg-color);
  color: var(--text-color);
  min-height: 888px;
  width: 100%;
  border-radius: 0;
}

.profileCoverWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 650px;
}

.profileLeftWrapper{
  width: 60%;
  text-align: center;
}

@media only screen and (max-width: $screen-md) {
  .profileCoverWrapper{
    display: block;
  }
  .profileLeftWrapper{
    width: 100%;
    text-align: center;
    margin: 20px 0;
  }
}
